# Pandas 101


## Data wrangling using Pandas
- In science we make a distinction between raw data and tidy data
- The former is usually not annotated, is closer to the acquisition source  (i.e. sensor or measurement device ) and requires some steps to perform analytics on 
- The latter represents a statistical table that is the foundation for at least one (but often many) questions to be asked on 
- The term Data wrangling is a commonly used catch-all to describe the early stages of the data analytics process. 
- It reflects the steps required to transition from raw to tidy datasets 
  - While the steps can change from project to project the most common ones are: 
    1. Collecting\Extracting data: 
       1. The first step is to identify the data you need, 
       2. Where to acquire\download it from, and then, of course, 
       3. How to collect it
    2. Structuring the data  
       1. Most raw data is unstructured and requires some attention to the way you structure it 
       2. In some cases you will use summary scores to simplify the data 
       3. Other cases may call for statistical data mining and transformation 
       4. But in the end we want to transform the data into a format where the following rules apply:
          1. Each row reflects an observation
          2. Each column reflects a variable/feature of the dataset 
          3. Each cell reflects a measurement
          4. Ideally, both rows and columns are labelled 
    3. Exploratory data analysis
       1. Describe the data components using both summary tables and data visualisation  
       2. Identify redundancy 
       3. Identify outliers
       4. Measure missingness 
       5. Identify association between features and categories 
    4. Data cleaning, enriching and fusion 
       1. Removing or clipping outliers 
       2. Removing errors and duplications 
       3. Standardising category names, dates and numeric formats 
       4. Fusing together complementary datasets to improve available information


## What is Pandas?
- While part of this list can be achieved using Numpy it not what it was designed for 
- Pandas, is a package that was designed from scratch to support all of the above list and more. 
- It extends all the elements in numpy by creating three abstract objects
  - `Index` - Immutable sequence used for indexing and alignment. The basic object storing axis labels for all pandas objects.
  - `Series` - One-dimensional `ndarray` with axis labels (including time series).
  - `DataFrame` - Two-dimensional, size-mutable, tabular data. Data structure also contains labelled axes (rows and columns). 
- These three tools provides efficient access to these sorts of "data munging" tasks that occupy much of a data scientist's time.

## Pandas practicalities 
### Importing pandas
- Most of the times we will import both Numpy and Pandas 
- The syntax uses the `as` command to create shortcuts to speed up the code writing

In [23]:
import numpy as np 
import pandas as pd
import datetime as dt
from IPython.display import display, Markdown

### Pandas basic structures 
#### The Index class 
- As stated above the major component missing from numpy is the ability to add some context to the arrays 
- The Index class provides this context 
- It is in fact the parent of a family of classes each designed to provide the means to efficiently perform various operations on the two dimensions of the tidy table format. 
- For example: 
  - RangeIndex : Index of some monotonic integer range (i.e. start stop and step)
  - CategoricalIndex : Index of categories 
  - DatetimeIndex : Index of datetime64 data.
  - MultiIndex : A multi-level, or hierarchical Index.

```{Important}
When you call pd.Index the class will automatically try to infer which of it's many sub-classes to use for the sake of efficiency  
```
- For example:

In [25]:
print(pd.Index(['a','b','c','d','e']))
print(pd.Index(range(2,11,2)))
print(pd.Index([2,4,6,8,10]))
print(pd.Index(pd.Categorical(['a','b','c','d','e'])))
print(pd.Index([dt.datetime(2020,10,1),dt.datetime(2020,10,5)]))
print(pd.Index([('a',1),('a',2),('b',1),('b',3)]))

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
RangeIndex(start=2, stop=11, step=2)
Int64Index([2, 4, 6, 8, 10], dtype='int64')
CategoricalIndex(['a', 'b', 'c', 'd', 'e'], categories=['a', 'b', 'c', 'd', 'e'], ordered=False, dtype='category')
DatetimeIndex(['2020-10-01', '2020-10-05'], dtype='datetime64[ns]', freq=None)
MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 3)],
           )

##### Index are very similar to an immutable numpy array
- For example, you can use standard indexing notation to retrieve values or slices
- And it has many of the attributes that NumPy arrays have
- However you cannot change indices, only replace the whole thing

In [41]:
A2Z = pd.Index([chr(n) for n in range(65,91)])
print(A2Z[2])
print(A2Z[2:5])
print(A2Z[1:6:3])
print(f'size = {A2Z.size}, shape = {A2Z.shape}, dtype = {A2Z.dtype}')

C
Index(['C', 'D', 'E'], dtype='object')
Index(['B', 'E'], dtype='object')
size = 26, shape = (26,), dtype = object

##### Index support many set operations 
- Python's built-in set methods such as Difference, Intersection or Union are supported either by set notation
- Or as builtin functions

In [45]:
ix_01 = pd.Index(range(1,11,3))
ix_02 = pd.Index(range(1,11,2))
print(f'Index 01 = {list(range(1,11,3))} and Index 02 = {list(range(1,11,2))}')
print(f'{"Symmetric Difference of ix_01 and ix_02":<50} = {ix_01 ^ ix_02}')
print(f'{"Intersection of ix_01 and ix_02":<50} = {ix_01 & ix_02}')
print(f'{"Union of ix_01 and ix_02":<50} = {ix_01 | ix_02}')

Index 01 = [1, 4, 7, 10] and Index 02 = [1, 3, 5, 7, 9]
Difference of ix_01 and ix_02                      = Int64Index([3, 4, 5, 9, 10], dtype='int64')
Intersection of ix_01 and ix_02                    = RangeIndex(start=1, stop=11, step=6)
Union of ix_01 and ix_02                           = Int64Index([1, 3, 4, 5, 7, 9, 10], dtype='int64')

In [48]:
print(f'{"Difference of ix_01 and ix_02":<50} = {ix_01.difference(ix_02)}')
print(f'{"Difference of ix_02 and ix_01":<50} = {ix_02.difference(ix_01)}')
print(f'{"Intersection of ix_01 and ix_02":<50} = {ix_01.intersection(ix_02)}')
print(f'{"Union of ix_01 and ix_02":<50} = {ix_01 | ix_02}')

Difference of ix_01 and ix_02                      = RangeIndex(start=4, stop=13, step=6)
Difference of ix_02 and ix_01                      = Int64Index([3, 5, 9], dtype='int64')
Intersection of ix_01 and ix_02                    = RangeIndex(start=1, stop=11, step=6)
Union of ix_01 and ix_02                           = Int64Index([1, 3, 4, 5, 7, 9, 10], dtype='int64')

#### The Pandas Series Object
- A Pandas `Series` is an object that contains at least three attributes 
  - one-dimensional array of values
  - a pandas index, 
  - and a dtype.
- It can be created from any sequence that can create a numpy array - because it is a numpy array (at least the value data is)
- If you wish you can explicitly define an index 
- You can also add a name

In [56]:
print(pd.Series((1,2,3)))
print(pd.Series(np.ones(3),index = ('a','b','c')))
print(pd.Series(range(4,7,2),name='46'))

0    1
1    2
2    3
dtype: int64
a    1.0
b    1.0
c    1.0
dtype: float64
0    4
1    6
Name: 46, dtype: int64

##### Series provide the power of numpy arrays with the flexibility of dictionaries 
- For example, you can use standard indexing notation to retrieve values or slices
- And it has many of the attributes that NumPy arrays have
- It also has access to many analytical methods 
- A series cell can contain any type of data 
- And they are of course mutable 
- Also by default a Series Index will be implicitly sorted

##### Series are by definition vectors
- As you can see they have only one dimension 
- We can convert them to a 1D array that is called a data frame
- The Series name becomes the column header and every element becomes a row

In [120]:
vector_a = pd.Series(np.ones(3),index = ('a','b','c'),name='vector_a')
print(f'shape = {vector_a.shape}')
vector_a.to_frame()

shape = (3,)

   vector_a
a       1.0
b       1.0
c       1.0

#### The Pandas DataFrame Object
- The Series object can be viewed as a coupling of a numpy array with a pandas Index object 
- The DataFrame object is just a set of Series objects that share a pandas Index object for their rows and have another index object that identifies each Series 
- Can be thought of as a dict-like container for Series objects.
- If for example we combine several Series that have overlapping indices Pandas will automatically combine these Series and create missing values (using `NaN`) in the parts that misalign. 
- Let's see this in action

#### Constructing DataFrame objects (selected methods)

- A Pandas `DataFrame` can be constructed in many ways.

##### The simplest approach - Dictionary  
- The keys are treated as a columns
- The values are the rows 
- The only caveat that is that the values need to have the same length

In [116]:
pd.DataFrame({'col_A':[1,2],'col_B':[3,4]})

   col_A  col_B
0      1      3
1      2      4

##### We can also supply a list of dict 
- The same rules apply 
- Keys are column names
- Values are elements 
- Pandas adapts to new columns by implicitly adding missing values

In [122]:
data = [{'col_A': 1,'col_B': 2},
        {'col_A': 4,'col_B': 3},
        {'col_A': 2,'col_C': 5}]
pd.DataFrame(data)

   col_A  col_B  col_c
0      1    2.0    NaN
1      4    3.0    NaN
2      2    NaN    5.0

##### We can define the values using Series with index and then Pandas can adapt
- If we supply a Series with indices this will be taken into account

In [117]:
col_A = pd.Series((1,2,3))
col_B = pd.Series(list(range(3,7)))
col_C = pd.Series(['a','b','c'],index=[1,5,2])
pd.DataFrame({'col_A':col_A,'col_B':col_B,'col_C':col_C})

   col_A  col_B col_C
0    1.0    3.0   NaN
1    2.0    4.0     a
2    3.0    5.0     c
3    NaN    6.0   NaN
5    NaN    NaN     b

##### From a 2d NumPy array
- We can create a DataFrame with 2d matrix
- By default an integer index will be used for both columns and indices
- Alternatively, one can supply both of them or either they just need to be at the right shape 
- In contrast to sets or dictionaries index can contain multiple copies

In [128]:
x = np.array([range(1,5)])
pd.DataFrame(x*x.T)

   0  1   2   3
0  1  2   3   4
1  2  4   6   8
2  3  6   9  12
3  4  8  12  16

In [130]:
pd.DataFrame(x*x.T, index = ['a','b','x','a'])

   0  1   2   3
a  1  2   3   4
b  2  4   6   8
x  3  6   9  12
a  4  8  12  16

### Data Selection in Series and DataFrames
- Let's create some simulated data to explore some selection basics

In [232]:
np.clip(np.round(rng.normal(80,15,size=(n,)),2),45,125)

array([100.43,  90.17,  78.08,  91.39])

In [233]:
rng = np.random.default_rng(2022)
n = 100
data = dict(
    age = np.clip(rng.normal(50,20,size=(n,)).astype(int),0,100),
    sex = rng.choice(['M','F'],size=(n,)),
    height = np.clip(np.round(rng.normal(1.5,0.2,size=(n,)),2),1.2,2.1),
    weight = np.clip(np.round(rng.normal(80,15,size=(n,)),1),45,125),
    depressed = rng.choice([True, False],p=[0.05,0.95],size=(n,)),
    group = rng.choice(['a','b','c','d'],p=[0.15,0.25,0.5,0.1],size=(n,))
)

df = pd.DataFrame(data,index=np.arange(100,100+n))
df.head()

     age sex  height  weight  depressed group
100  100   F    1.65    87.9      False     c
101   33   F    1.63    86.9      False     d
102   91   F    1.46    72.9      False     c
103   19   F    1.84    64.2      False     c
104   57   F    1.95    80.8      False     c

##### Data Selection using pandas data access methods 
- We can access a single value for a row/column label pair (for this to work the indices need to be unique).
- We can do the same using actual indices

In [172]:
print(f'The sex of subject 104 is {df.at[104,"sex"]}')
print(f'The sex of subject 104 is {df.iat[4,1]}')

The sex of subject 104 is F
The sex of subject 104 is F

- We can Access a group of rows and columns by label(s)
- This simply returns the range between the two index labels (which might not be useful if the dataframe isn't sorted by the index)
- We can also slice based on real hidden index that reflects the current state of the dataframe

In [234]:
display(Markdown( '### Slice the rows between labels 104 and 122'))
display(df.sort_values('age').loc[104:122])
display(Markdown( '### Slice the rows between index 4 and 7'))
display(df.sort_values('age').iloc[4:7])

### Slice the rows between labels 104 and 122

     age sex  height  weight  depressed group
104   57   F    1.95    80.8      False     c
168   58   F    1.57    78.8       True     b
122   59   M    1.51    96.2      False     d

### Slice the rows between index 4 and 7

     age sex  height  weight  depressed group
143   12   M    1.58    77.7      False     c
162   13   F    1.78    84.4      False     d
159   17   M    1.23    75.3      False     a

##### Data Selection using standard Python / NumPy expressions
- We can slice a data frame using the standard numpy notation

In [235]:
display(Markdown( '### Slice the last two rows'))
display(df[-3:-1])
display(Markdown( '### Slice row 1'))
display(df[1:2])
display(Markdown( '### Slice odd rows from 1 - 5'))
display(df[1:6:2])
display(Markdown( '### Slice odd rows from 1 - 5 just for sex and group '))
display(df[1:6:2][['sex','group']])
display(Markdown( '### Extract all Sex values for odd rows from 1 - 5'))
display(df[1:6:2].sex)

### Slice the last two rows

     age sex  height  weight  depressed group
197   55   F    1.20    83.7       True     b
198   31   M    1.45    70.3      False     c

### Slice row 1

     age sex  height  weight  depressed group
101   33   F    1.63    86.9      False     d

### Slice odd rows from 1 - 5

     age sex  height  weight  depressed group
101   33   F    1.63    86.9      False     d
103   19   F    1.84    64.2      False     c
105   48   F    1.78    79.6      False     c

### Slice odd rows from 1 - 5 just for sex and group

    sex group
101   F     d
103   F     c
105   F     c

### Extract all Sex values for odd rows from 1 - 5

101    F
103    F
105    F
Name: sex, dtype: object

##### Data Selection using masking via conditional statements 
- We can mask a data frame using boolean sequence
  - This can be done for both rows and columns
  - It has to be in the size of the rows
- But we can use any conditional statement on the series that compose the data frame 
- Pandas even has a special function that is declarative to make this more explicit and easier to read

In [236]:
m,n = df.shape
rng = np.random.default_rng(2022)
row_mask = rng.choice([True, False],p=[0.05,0.95],size=(m,))
display(Markdown( '### Select 5% of the rows using masking'))
display(df[row_mask])
display(Markdown( '### Select people between 30 - 35 '))
display(df[(df.age > 30 ) & (df.age < 35)])
display(Markdown( '### Select the first 3 people from group a '))
display(df[df.group == 'a'].head(3))
display(Markdown( '### Use the query function to filter males age 42 '))
display(df.query('sex == "M" and age == 42'))
display(Markdown( '### You can combine slicing and masking using pandas indexers'))
display(df.loc[df.age > 90,['sex','age']])

### Select 5% of the rows using masking

     age sex  height  weight  depressed group
107   42   M    1.33    81.4      False     b
134   50   M    1.41    74.2      False     a
147   50   F    1.28    73.1      False     a
160   60   F    2.10    83.8       True     c
171   51   M    1.58    87.0      False     b
178   44   M    1.50    59.8      False     b

### Select people between 30 - 35

     age sex  height  weight  depressed group
101   33   F    1.63    86.9      False     d
118   32   M    1.64    69.1      False     c
125   32   F    1.46    82.5      False     d
127   32   M    1.44   103.9      False     b
128   32   F    1.45    81.1      False     b
182   34   M    1.42    88.8      False     b
191   34   F    1.20    76.9      False     c
198   31   M    1.45    70.3      False     c

### Select the first 3 people from group a

     age sex  height  weight  depressed group
106    0   F    1.31    77.2      False     a
108   61   F    1.44    74.0      False     a
119   23   M    1.34    88.7      False     a

### Use the query function to filter males age 42

     age sex  height  weight  depressed group
107   42   M    1.33    81.4      False     b
184   42   M    1.63   113.2      False     b

### You can combine slicing and masking using pandas indexers

    sex  age
100   F  100
102   F   91
138   M   93
144   M   91

## Data operations in Pandas
### Basic arithmetic operations
NumPy's ability to do rapid element-wise operations (addition, subtraction, multiplication, etc.) is migrated into the Pandas framework and is available for both series and DataFrame objects.

In [243]:
display(Markdown( '### For example multiply height by a constant to convert to feet'))
height_feet = (df.height * 3.280).rename('height_feet')
display(height_feet.head(5))

display(Markdown( '### Or calculate BMI based on the ratio between mass and height<sup>2</sup>'))
bmi = (df.weight/( df.height ** 2)).rename('BMI')
display(bmi.head(5))

### For example multiply height by a constant to convert to feet

100    5.4120
101    5.3464
102    4.7888
103    6.0352
104    6.3960
Name: height_feet, dtype: float64

### Or calculate BMI based on the ratio between mass and height<sup>2</sup>

100    32.286501
101    32.707290
102    34.199662
103    18.962665
104    21.249178
Name: BMI, dtype: float64

### Index is preserved 
- Because the index is preserved we can assign this to the original df
- Note that I can use numpy universal functions using the dot notation

In [245]:
df = df.assign(
    bmi = (df.weight/( df.height ** 2)).round(2),
    height_feet = (df.height * 3.280).round(2)
)
df

     age sex  height  weight  depressed group    bmi  height_feet
100  100   F    1.65    87.9      False     c  32.29         5.41
101   33   F    1.63    86.9      False     d  32.71         5.35
102   91   F    1.46    72.9      False     c  34.20         4.79
103   19   F    1.84    64.2      False     c  18.96         6.04
104   57   F    1.95    80.8      False     c  21.25         6.40
..   ...  ..     ...     ...        ...   ...    ...          ...
195   60   M    1.67    87.0      False     c  31.20         5.48
196   49   M    1.56    96.9      False     a  39.82         5.12
197   55   F    1.20    83.7       True     b  58.13         3.94
198   31   M    1.45    70.3      False     c  33.44         4.76
199   19   M    1.63    88.1      False     c  33.16         5.35

[100 rows x 8 columns]

### Data operations in Pandas using Numpy Universal Functions and python object methods

- Pandas derives most of this capability from Universal Functions in NumPy. 
- The neat thing is that you can either apply the numpy functions directly on a Pandas object.

In [264]:
display(Markdown( '### We can transform values using numpy functions'))
display(np.log(df.age).head())
display(Markdown( '### We can also standardise values using `mean` and `std`'))
display((((df.age - np.mean(df.age)))/np.std(df.age)).head())

### We can transform values using numpy functions

100    4.605170
101    3.496508
102    4.510860
103    2.944439
104    4.043051
Name: age, dtype: float64

### We can also standardise values using `mean` and `std`

100    2.475448
101   -0.614251
102    2.060414
103   -1.259859
104    0.492507
Name: age, dtype: float64

In [ ]:
display(Markdown( '### For example we can map strings using a dictionary'))
display(df.sex.map({'F':'Female','M':'Male'}).head())

In [110]:
df_data = pd.read_csv('data/Control_Study_Wild_etal_2021_CBS_task_data_2021-07-19.csv')
df_questions = pd.read_csv('data/Control_Study_Wild_etal_2021_questionnaire_data_2021-07-19.csv')

In [107]:
col_top = [v[0] for v in df_data.columns.str.split('.')]
col_bottom = [v for v in df_data.iloc[0,:]]

In [86]:
col_top[0:2] = ['','']
col_bottom[0:2] = ('user','device')

In [87]:
index = pd.MultiIndex.from_tuples([tuple(v) for v in zip(col_top,col_bottom)], names=["task", "measure"])

In [88]:
df_data.columns = index

In [108]:
df_data = df_data.iloc[2:,:]

In [109]:
df_data

,Unnamed: 0,Unnamed: 1,spatial_span,spatial_span.1,spatial_span.2,spatial_span.3,spatial_span.4,grammatical_reasoning,grammatical_reasoning.1,grammatical_reasoning.2,...,polygons,polygons.1,polygons.2,polygons.3,polygons.4,token_search,token_search.1,token_search.2,token_search.3,token_search.4
2,12,DESKTOP,7.0,5.0,2014.5241071428572,5.0,8.0,25.0,2.0,27.0,...,48.0,3.0,16.0,19.0,3936.5,6.0,5.0,3539.8782312925173,4.0,7.0
3,23,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,DESKTOP,6.0,5.4,1699.8169642857142,5.0,8.0,31.0,3.0,34.0,...,27.0,8.0,18.0,26.0,2461.1666666666665,10.0,6.625,1336.836986750623,8.0,11.0
5,32,DESKTOP,5.0,4.0,2009.45,3.0,6.0,37.0,0.0,37.0,...,72.0,5.0,22.0,27.0,2517.5,6.0,5.0,1965.070068027211,4.0,7.0
6,38,DESKTOP,8.0,5.833333333333333,2165.904365079365,6.0,9.0,14.0,1.0,15.0,...,30.0,1.0,11.0,12.0,5986.0,5.0,4.0,2512.986111111111,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18421,102962,DESKTOP,6.0,5.0,2032.444898,4.0,7.0,0.0,13.0,13.0,...,-4.0,13.0,11.0,24.0,3291.818182,3.0,2.5,2355.8,2.0,5.0
18422,103072,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18423,103261,DESKTOP,6.0,4.5,2047.761565,4.0,7.0,15.0,0.0,15.0,...,60.0,8.0,21.0,29.0,2437.238095,3.0,3.0,4696.916667,2.0,5.0
18424,103268,DESKTOP,5.0,4.666667,1979.925,3.0,6.0,16.0,0.0,16.0,...,38.0,5.0,16.0,21.0,3249.625,8.0,6.166667,1979.676984,6.0,9.0
18425,103468,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df_data.set_index(('', 'user'))

task              spatial_span                                         \
measure    device    max_score          avg_score     avg_ms_per_item
(, user)
12        DESKTOP          7.0                5.0  2014.5241071428572
23        DESKTOP          NaN                NaN                 NaN
27        DESKTOP          6.0                5.4  1699.8169642857142
32        DESKTOP          5.0                4.0             2009.45
38        DESKTOP          8.0  5.833333333333333   2165.904365079365
...           ...          ...                ...                 ...
102962    DESKTOP          6.0                5.0         2032.444898
103072    DESKTOP          NaN                NaN                 NaN
103261    DESKTOP          6.0                4.5         2047.761565
103268    DESKTOP          5.0           4.666667            1979.925
103468    DESKTOP          NaN                NaN                 NaN

task                              grammatical_reasoning             \
measure  num_correct num_attempts           final_score num_errors
(, user)
12               5.0          8.0                  25.0        2.0
23               NaN          NaN                   NaN        NaN
27               5.0          8.0                  31.0        3.0
32               3.0          6.0                  37.0        0.0
38               6.0          9.0                  14.0        1.0
...              ...          ...                   ...        ...
102962           4.0          7.0                   0.0       13.0
103072           NaN          NaN                   NaN        NaN
103261           4.0          7.0                  15.0        0.0
103268           3.0          6.0                  16.0        0.0
103468           NaN          NaN                   NaN        NaN

task                               ...    polygons                         \
measure  num_correct num_attempts  ... final_score num_errors num_correct
(, user)                           ...
12              27.0         29.0  ...        48.0        3.0        16.0
23               NaN          NaN  ...         NaN        NaN         NaN
27              34.0         37.0  ...        27.0        8.0        18.0
32              37.0         37.0  ...        72.0        5.0        22.0
38              15.0         16.0  ...        30.0        1.0        11.0
...              ...          ...  ...         ...        ...         ...
102962          13.0         26.0  ...        -4.0       13.0        11.0
103072           NaN          NaN  ...         NaN        NaN         NaN
103261          15.0         15.0  ...        60.0        8.0        21.0
103268          16.0         16.0  ...        38.0        5.0        16.0
103468           NaN          NaN  ...         NaN        NaN         NaN

task                                      token_search            \
measure  num_attempts      avg_ms_correct    max_score avg_score
(, user)
12               19.0              3936.5          6.0       5.0
23                NaN                 NaN          NaN       NaN
27               26.0  2461.1666666666665         10.0     6.625
32               27.0              2517.5          6.0       5.0
38               12.0              5986.0          5.0       4.0
...               ...                 ...          ...       ...
102962           24.0         3291.818182          3.0       2.5
103072            NaN                 NaN          NaN       NaN
103261           29.0         2437.238095          3.0       3.0
103268           21.0            3249.625          8.0  6.166667
103468            NaN                 NaN          NaN       NaN

task
measure      avg_ms_per_item num_correct num_attempts
(, user)
12        3539.8782312925173         4.0          7.0
23                       NaN         NaN          NaN
27         1336.836986750623         8.0         11.0
32         1965.070068027211         4.0          7.0
38         2512.986111111111         3.0          6.0
...                      ...         ...          ...
102962                2355.8         2.0          5.0
103072                   NaN         NaN          NaN
103261           4696.916667         2.0          5.0
103268           1979.676984         6.0          9.0
103468                   NaN         NaN          NaN

[18424 rows x 73 columns]

In [101]:
df_data.iloc[:,df_data.columns.get_level_values(1).str.endswith('score')]

IndexError: Boolean index has wrong length: 74 instead of 73

In [48]:
df_data[df_data.columns[df_data.iloc[0,:]=='avg_score']].dropna()

,spatial_span.1,monkey_ladder.1,digit_span.1,paired_associates.1,token_search.1
0,avg_score,avg_score,avg_score,avg_score,avg_score
2,5.0,4.285714285714286,6.5,3.6666666666666665,5.0
4,5.4,6.2,6.0,4.0,6.625
5,4.0,5.25,4.5,3.0,5.0
6,5.833333333333333,5.6,5.166666666666667,3.6,4.0
...,...,...,...,...,...
18418,5.25,4.714286,5.2,3.6,6.0
18420,4.0,5.333333,7.5,3.833333,6.285714
18421,5.0,4.0,5.0,2.8,2.5
18423,4.5,4.857143,5.0,3.833333,3.0
18424,4.666667,5.5,4.0,3.0,6.166667

In [49]:
df_data

,Unnamed: 0,Unnamed: 1,spatial_span,spatial_span.1,spatial_span.2,spatial_span.3,spatial_span.4,grammatical_reasoning,grammatical_reasoning.1,grammatical_reasoning.2,...,polygons,polygons.1,polygons.2,polygons.3,polygons.4,token_search,token_search.1,token_search.2,token_search.3,token_search.4
0,NaN,NaN,max_score,avg_score,avg_ms_per_item,num_correct,num_attempts,final_score,num_errors,num_correct,...,final_score,num_errors,num_correct,num_attempts,avg_ms_correct,max_score,avg_score,avg_ms_per_item,num_correct,num_attempts
1,user,device_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,DESKTOP,7.0,5.0,2014.5241071428572,5.0,8.0,25.0,2.0,27.0,...,48.0,3.0,16.0,19.0,3936.5,6.0,5.0,3539.8782312925173,4.0,7.0
3,23,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,DESKTOP,6.0,5.4,1699.8169642857142,5.0,8.0,31.0,3.0,34.0,...,27.0,8.0,18.0,26.0,2461.1666666666665,10.0,6.625,1336.836986750623,8.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18421,102962,DESKTOP,6.0,5.0,2032.444898,4.0,7.0,0.0,13.0,13.0,...,-4.0,13.0,11.0,24.0,3291.818182,3.0,2.5,2355.8,2.0,5.0
18422,103072,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18423,103261,DESKTOP,6.0,4.5,2047.761565,4.0,7.0,15.0,0.0,15.0,...,60.0,8.0,21.0,29.0,2437.238095,3.0,3.0,4696.916667,2.0,5.0
18424,103268,DESKTOP,5.0,4.666667,1979.925,3.0,6.0,16.0,0.0,16.0,...,38.0,5.0,16.0,21.0,3249.625,8.0,6.166667,1979.676984,6.0,9.0
18425,103468,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_data[df_data.columns[df_data.iloc[0,:]=='max_score']].dropna()

      spatial_span monkey_ladder digit_span paired_associates token_search
0        max_score     max_score  max_score         max_score    max_score
2              7.0           6.0       10.0               5.0          6.0
4              6.0           9.0        8.0               5.0         10.0
5              5.0           8.0        5.0               4.0          6.0
6              8.0           9.0        7.0               5.0          5.0
...            ...           ...        ...               ...          ...
18418          6.0           7.0        6.0               5.0          8.0
18420          4.0           8.0       11.0               5.0          9.0
18421          6.0           6.0        6.0               4.0          3.0
18423          6.0           7.0        6.0               6.0          3.0
18424          5.0           9.0        5.0               4.0          8.0

[11504 rows x 5 columns]

In [46]:
df_data[df_data.columns[df_data.iloc[0,:]=='final_score']].dropna()

,grammatical_reasoning,double_trouble,odd_one_out,rotations,feature_match,spatial_planning,polygons
0,final_score,final_score,final_score,final_score,final_score,final_score,final_score
2,25.0,74.0,13.0,89.0,103.0,58.0,48.0
4,31.0,98.0,18.0,149.0,196.0,94.0,27.0
5,37.0,75.0,22.0,130.0,182.0,102.0,72.0
6,14.0,46.0,12.0,60.0,100.0,43.0,30.0
...,...,...,...,...,...,...,...
18418,14.0,40.0,9.0,78.0,132.0,21.0,50.0
18420,16.0,45.0,13.0,63.0,196.0,30.0,60.0
18421,0.0,2.0,2.0,0.0,7.0,32.0,-4.0
18423,15.0,14.0,9.0,116.0,132.0,16.0,60.0
18424,16.0,0.0,9.0,-3.0,91.0,20.0,38.0

In [27]:
df_questions

,user,sex,age,education,SES_growing_up,country,languages_spoken,fluent_english,hospital_stay,handedness,employment_status,exercise_freq,alcohol_per_week,caffeine_per_day,cigarettes_per_day,cannabis,stimulants,depressants
0,12,Male,49.0,Master's Degree,At or above poverty level,Canada,English,True,True,Right,Employed full time,Once or twice a week,0.0,1.00,0.0,False,False,False
1,23,Male,35.0,Doctoral or Professional Degree,At or above poverty level,Canada,English,True,False,Right,Employed full time,Three or more times a week,35.0,2.00,0.0,False,False,False
2,27,Male,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
3,29,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,0.0,False,False,False
4,32,Male,55.0,High School Diploma,At or above poverty level,Canada,English,True,True,Right,Employed part time,Three or more times a week,0.0,1.00,0.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36533,103268,Male,43.0,Doctoral or Professional Degree,At or above poverty level,Uruguay,"English,Spanish",True,False,Right,Employed part time,Once or twice a week,0.0,2.00,0.0,True,True,False
36534,103309,Male,48.0,Bachelor's Degree,At or above poverty level,Canada,English,True,True,Left,Unemployed,Not during the past month,NaN,NaN,NaN,False,False,False
36535,103399,Male,99.0,Master's Degree,At or above poverty level,India,Malayalam,False,False,Right,Unemployed,Not during the past month,0.0,0.20,0.0,False,False,False
36536,103468,Male,25.0,Bachelor's Degree,At or above poverty level,Lithuania,Lithuanian,False,True,Right,Employed full time,Once or twice a week,3.0,0.00,20.0,False,False,False
36537,103658,Male,17.0,None,At or above poverty level,Iran (Islamic Republic of),Persian (Farsi),False,False,Right,Full time student,Less than once a week,0.0,0.14,0.0,False,False,False

In [31]:
df_data.rename(columns = {'Unnamed: 0':'uid','Unnamed: 1':'device'})

,uid,device,spatial_span,spatial_span.1,spatial_span.2,spatial_span.3,spatial_span.4,grammatical_reasoning,grammatical_reasoning.1,grammatical_reasoning.2,...,polygons,polygons.1,polygons.2,polygons.3,polygons.4,token_search,token_search.1,token_search.2,token_search.3,token_search.4
0,NaN,NaN,max_score,avg_score,avg_ms_per_item,num_correct,num_attempts,final_score,num_errors,num_correct,...,final_score,num_errors,num_correct,num_attempts,avg_ms_correct,max_score,avg_score,avg_ms_per_item,num_correct,num_attempts
1,user,device_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,DESKTOP,7.0,5.0,2014.5241071428572,5.0,8.0,25.0,2.0,27.0,...,48.0,3.0,16.0,19.0,3936.5,6.0,5.0,3539.8782312925173,4.0,7.0
3,23,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,DESKTOP,6.0,5.4,1699.8169642857142,5.0,8.0,31.0,3.0,34.0,...,27.0,8.0,18.0,26.0,2461.1666666666665,10.0,6.625,1336.836986750623,8.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18421,102962,DESKTOP,6.0,5.0,2032.444898,4.0,7.0,0.0,13.0,13.0,...,-4.0,13.0,11.0,24.0,3291.818182,3.0,2.5,2355.8,2.0,5.0
18422,103072,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18423,103261,DESKTOP,6.0,4.5,2047.761565,4.0,7.0,15.0,0.0,15.0,...,60.0,8.0,21.0,29.0,2437.238095,3.0,3.0,4696.916667,2.0,5.0
18424,103268,DESKTOP,5.0,4.666667,1979.925,3.0,6.0,16.0,0.0,16.0,...,38.0,5.0,16.0,21.0,3249.625,8.0,6.166667,1979.676984,6.0,9.0
18425,103468,DESKTOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'spatial_span', 'spatial_span.1',
       'spatial_span.2', 'spatial_span.3', 'spatial_span.4',
       'grammatical_reasoning', 'grammatical_reasoning.1',
       'grammatical_reasoning.2', 'grammatical_reasoning.3',
       'grammatical_reasoning.4', 'double_trouble', 'double_trouble.1',
       'double_trouble.2', 'double_trouble.3', 'double_trouble.4',
       'double_trouble.5', 'double_trouble.6', 'double_trouble.7',
       'double_trouble.8', 'double_trouble.9', 'double_trouble.10',
       'double_trouble.11', 'double_trouble.12', 'odd_one_out',
       'odd_one_out.1', 'odd_one_out.2', 'odd_one_out.3', 'odd_one_out.4',
       'odd_one_out.5', 'monkey_ladder', 'monkey_ladder.1', 'monkey_ladder.2',
       'monkey_ladder.3', 'monkey_ladder.4', 'rotations', 'rotations.1',
       'rotations.2', 'rotations.3', 'rotations.4', 'rotations.5',
       'rotations.6', 'feature_match', 'feature_match.1', 'feature_match.2',
       'feature_match.3', 'feature_match.4', 'feature_match.5',
       'feature_match.6', 'digit_span', 'digit_span.1', 'digit_span.2',
       'digit_span.3', 'digit_span.4', 'spatial_planning',
       'spatial_planning.1', 'spatial_planning.2', 'spatial_planning.3',
       'paired_associates', 'paired_associates.1', 'paired_associates.2',
       'paired_associates.3', 'paired_associates.4', 'polygons', 'polygons.1',
       'polygons.2', 'polygons.3', 'polygons.4', 'token_search',
       'token_search.1', 'token_search.2', 'token_search.3', 'token_search.4'],
      dtype='object')